html {
    scroll-behavior: smooth;
}
section {
    scroll-margin-top: 80px;
}
body {
    font-size: 16px;
    margin: 0px;
    font-family: "Montserrat", system-ui;
}
h2 {
    margin: 20px 0px;
    color: rgb(32, 121, 200);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
h3 {
    margin: 10px 0px;
    color: rgb(32, 121, 200);
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
p {
    color: rgb(50, 50, 50);
    font-size: 16px;
}
dd {
    margin: 10px 0px 10px 40px;
    line-height: 1.75;
}

#about {
    scroll-margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
}
#experience, #projects {
    scroll-margin-top: 54px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 60%;
}
#education-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
#education, #certifications {
    width: 45%;
}

.banner {
    position: sticky;
    top: 0;
    background-color: rgb(32, 121, 200);
    margin: 0px;
    padding: 15px 0px;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
}
.banner-button {
    margin: 0px 20px 0px 0px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.banner-button:hover {
    cursor: pointer;
    text-decoration: underline;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portrait {
    align-items: center;
    width: 300px;
}
.position-title {
    color: rgb(32, 121, 200);
    font-weight: bold;
}
.position-info {
    color: rgb(120, 120, 120);
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}
.certification-list {
    margin: 5px;
}
.project-description {
    font-size: 16px;
    margin-left: 20px;
    line-height: 1.5;
}