body {
    margin: 0px 0px 50px 0px;
    font-family: "Montserrat", system-ui;
}
h2 {
    margin: 20px 0px;
    color: 0F4C75;
    font-weight: bold;
    text-align: center;
}
h3 {
    margin: 10px 0px;
    color: #3282B8;
    font-weight: bold;
    text-align: center;
}
p {
    color: rgb(50, 50, 50);
}
dl {
    margin-top: 0px;
}
dd {
    margin: 10px 0px 10px 40px;
    line-height: 1.75;
}

#email-button:hover {
    cursor: pointer;
}
#about {
    scroll-margin-top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
#experience, #projects {
    scroll-margin-top: 54px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
}
#education-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
#education, #certifications {
    width: 45%;
}

@media (max-width: 768px) {
    #about, #experience, #projects, #education-container {
        width: 90%;
    }
    #education-container {
        flex-direction: column;
        align-items: center;
    }
    #education, #certifications {
        width: 80%;
    }
}

.banner {
    position: sticky;
    top: 0;
    background-color: #0F4C75;
    margin: 0px;
    padding: 7px 0px;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
}
.favicon {
    height: 40px;
    margin-left: 10px;
}
.banner-buttons {
    margin-left: auto;
    display: flex;
}
.banner-button {
    margin-right: 2.5vw;
    color: white;
    font-size: 1.25em;
    text-decoration: none;
}
.banner-button:hover {
    cursor: pointer;
    text-decoration: underline;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portrait {
    margin-top: 30px;
    align-items: center;
    width: 25vw;
    max-width: 200px;
}
.notification {
    visibility: hidden;
    background-color: #3282B8;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    font-size: 0.9em;
    top: -30px;
    left: -30%;
    transition: visibility 0s, opacity 0.3s ease;
    opacity: 0;
}
.notification.show {
    visibility: visible;
    opacity: 1;
}
.icon-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px
}
.position-title {
    color: #3282B8;
    font-weight: bold;
}
.position-info {
    color: rgb(120, 120, 120);
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
}
.certification-list {
    margin: 5px;
}
.icon {
    width: 24px;
    height: 24px;
}
.project-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.project-description {
    margin: 0px 0px 20px 40px;
    line-height: 1.5;
}